<div class="row footer-template">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 row footer-content">
        <!-- <div class="col-md-1 col-lg-1 col-xl-1"></div> -->
        <div class=" col-md-2 col-lg-2 col-sm-12 col-xl-2 news-letter mt-3">
            <div class="news-letter-text mob-align-items">
                Subscribe to our list
            </div>
            <div class="subscribe-button-container mob-align-items">
                <button class="btn subscribe-button"><a class="subscribe-button">Join Our List</a>
                </button>
            </div>
            <div class="privacy-policy-link mob-align-items mt-2">
                <a class="link-info-privacy-policy">Privacy Policy</a>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1"></div>
        <div
            class="col-md-2 col-lg-2 col-sm-12 col-xl-2 sharing-types mt-3 mob-align-items">
            <div class="link-title mob-align-items">Address</div>
            <div class="addres-info mt-2">
                <div class="address-text">Buy it</div>
                <div class="address-text">200 1st Ave East, #333</div>
                <div class="address-text">Johanessburg, dummy 21233</div>
                <div class="address-text">SA</div>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1"></div>
        <div
            class="col-md-2 col-lg-2 col-sm-12 col-xl-2 links mt-3 mob-align-items">
            <div class="link-title mob-align-items">Contact Us</div>
            <div class="leankanban-link-container mt-2">
                <a class="leankanban-link">info@buyit.com</a>
            </div>
            <div class="mob-icon-center">
                <!-- <a class="mob-a-pdng" (click)="facebookNavigate()">
					<i class="flaticon-facebook-logo-button sharing-facebook-icons"></i>
				</a> -->
                <a (click)="twitterNavigate()">
                    <i
                        class="flaticon-twitter-logo-button sharing-twitter-icons"></i>
                </a>
                <a (click)="linkedInNavigate()">
                    <i class="flaticon-linkedin sharing-icons"></i>
                </a>
            </div>
            <!-- <ul class="link-lists mob-align-items pl-0">
				<li class="link-info"><a class="link-info" href="https://leankanban.com/project/what-is-lki">About KU</a></li>
				<li class="link-info"><a class="link-info" href="https://edu.leankanban.com/blog">Blog</a></li>
				<li class="link-info"><a class="link-info" href="https://www.kanban.university/landing/landingpage#ckanban"> Find Certified Training</a></li>
			</ul> -->
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1"></div>
        <div
            class="col-md-2 col-lg-2 col-sm-12 col-xl-2 copyrighy-links mt-3 mob-align-items">
            <div class="copyright-text">© {{year}} Buy it. All rights
            </div>
            <div class="copyright-text">reserved. <div>
            <div class="copyright-text">trademarks of Buy It Inc.
            </div>
            <!-- <div class="link-title mob-align-items">Links</div>
			<ul class="link-lists mob-align-items pl-0">
				<li class="link-info">
					<a class="link-info" href="https://leankanban.com/project/what-is-lki">About KU</a>
				</li>
				<li class="link-info">
					<a class="link-info" href="https://edu.leankanban.com/blog">Blog</a>
				</li>
				<li class="link-info">
					<a class="link-info" href="https://www.kanban.university/landing/landingpage#ckanban"> Find Certified Training</a>
				</li>
			</ul> -->
        </div>
    </div>
</div>
