
app-footer {

    $lku-orange: #55a7ff;

    .text-right {
        text-align: right;
    }

    .footer-template{
        background: #343a40 !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .subscribe-button {
        font-size: 13px;
        font-weight: 500;
        color: $lku-orange;
        background-color: #0e0e0e;
        &:hover {
            text-decoration: underline;
            color: $lku-orange;
        }
        @media only screen and (min-width: 415px) and (max-width: 768px){
            font-size: 10px !important;
            padding: 4px 6px !important;
        }
    }

    .link-title{
        color: white;
        font-size: 14px;
        // padding-left: 1.7rem;
        font-weight: 600;
        // padding-left: 1.70rem;

        @media only screen and (max-width: 766px){
            padding-left: 0px;
        }
    }
    .link-info-privacy-policy{
        color: $lku-orange;
        cursor: pointer;
        font-size: 13px;
        &:hover {
            text-decoration: underline !important;
            color: white;
        }
    }

    .address-text{
        font-size: 13px;
        color: white;
        @media only screen and (min-width: 415px) and (max-width: 768px){
            font-size: 9px !important;
        }
    }
    .copyright-text{
        font-size: 12px;
        color: white;
        @media only screen and (min-width: 415px) and (max-width: 768px){
            font-size: 7px !important;
        }
    }
    .news-letter{
        margin-left: 4%;
    }
    .news-letter-text{
        color: white;
        font-size: 13px;
        @media only screen and (min-width: 415px) and (max-width: 768px){
            font-size: 10px !important;
        }
    }
    .leankanban-link{
        color: $lku-orange;
        font-size: 13px;
         &:hover {
            text-decoration: underline !important;
            color: white;
        }
        @media only screen and (min-width: 415px) and (max-width: 768px){
            font-size: 10px !important;
        }
    }
    // .leankanban-inc{
    //     color: white;
    //     font-size: 12px;
    // }
    .sharing-icons{
        font-size: 2rem;
        color: #d3dfe2;
        margin-left: 0.7rem;
        &:hover{
            cursor: pointer;
        }
    }
    .sharing-twitter-icons{
        font-size: 2rem;
        color: #d3dfe2;
        &:hover{
            cursor: pointer;
        }
    }
    ul{ list-style-type: none; }

    .mob-align-items{
        @media only screen and (max-width: 766px){
            text-align: center !important;
        }
    }

    .link-lists{
        @media only screen and (max-width: 766px){
            padding-left: 0px;
        }
    }

    .mob-icon-center{
        @media only screen and (max-width: 766px){
            text-align: center !important;
        }
    }

    .copyrighy-links{
        padding: 0px;
    }
}
